@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,#4568DC, #B06AB3);
    font-family: poppins, sans-serif;
}


header{
    text-align: center;
    padding: 30px;
    color: white;
    text-shadow: 0px 0px 3px black;
}

form{
    width: 400px;
    margin: auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}

.input{
    margin: auto;
    height: 37px;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
}
.add{
    font-size: 23px;
    height: 37px;
    width: 90px;
    border: none;
    border-radius: 10px;
}
.add:hover{
    background-color: rgb(0, 132, 255);
    color: white;
}

@media (max-width : 700px){
    .add{
        width: 75px;
    }
}


.todo-container{
    display: flex;
    width: 400px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

.todo-list{
    width: 90%;
    /* max-height: 60vh; */
    margin: auto;
    list-style: none;
}

.todo{
    margin: 2px auto;
    padding-left: 20px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    border-radius: 10px;
}

.todo:hover{
    font-size: 23px;
}

.todo li{
    flex: 1;
}

.complete-btn{
    border: none;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.75);
}
.trash-btn{
    border: none;
    height: 40px;
    width: 40px;
    background-color:rgb(206, 205, 205);
    border-radius: 0 10px 10px 0;
}
.complete-btn:hover{
    color: white;
    /* background-color: rgb(0, 132, 255); */
    background-color: rgb(0, 190, 0);
}
.trash-btn:hover{
    color: white;
    background-color: rgb(255, 38, 0);
}
.complete-btn i,
.trash-btn i{
    pointer-events: none;
}

.slide{
    transform: scale(0.9);
    opacity: 0;
}

.completed{
    text-decoration: line-through;
    opacity: 0.4;
}

.credit{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    text-decoration: none;
    font-style: normal;
    color: white;
}
